body {
    background: linear-gradient(90deg, black, darkslateblue);
  }
  
  .navbar {
    border-radius: 5px;
  }
  
  .navbar-brand {
    font-family: monospace;
    font-weight: bold;
  }
  
  .navbar-nav a {
    font-family: monospace;
  }
  
  #contenido {
    width: 1300px;
    height: auto;
    background-color: #2e2e2e;
    max-width: 0 auto;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .texto {
    text-align: left;
    font-family: monospace;
    font-size: 30px;
    padding: 40px;
    margin: 20px;
    color: white;
    font-weight: bold;
  }
  
  .texto2 {
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    color: white;
    margin: 20px;
  }
  
  #pieNavegacion {
    width: 1300px;
    height: auto;
    background-color: #2e2e2e;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: monospace;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  button{
    display: block;
    margin: 20px auto 0;
    padding: 15px 30px;
    background-color: darkslateblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
}