body{
    background: linear-gradient(90deg, black, darkslateblue);
}

.navbar{
    border-radius: 5px;
}

.navbar-brand {
    font-family: monospace;
    font-weight: bold;
  }

  .navbar-brand img {
    width: 100px;
    height: auto;
}

  
  .navbar-nav a {
    font-family: monospace;
  }

  .card-header {
    background-color: #2e2e2e;
    color: white;
    font-family: monospace;
    font-weight: bold;
  }

  #ayuda{
    color: white;
    font-family: monospace;
  }

 #InicioHelp{
    color: black;
    font-family: monospace; 
 }

 #emailHelp{
    color: black;
    font-family: monospace; 
 }

 .mb-3{
    background-color: white;
    color: black;
    font-family: monospace;
 }

 #btnCrear{
    background-color: darkslateblue;
    color: white;
    font-family: monospace;
    font-weight: bold;
 }

 #btnIniciar{
    background-color: darkslateblue;
    color: white;
    font-family: monospace;
    font-weight: bold;
 }


#pieNavegacion {
    width: 1300px;
    height: auto;
    background-color:#2e2e2e;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: monospace;
    margin: 0 auto;
    border-radius: 5px;
}