body{
  background: linear-gradient(90deg, black, darkslateblue);
}

.navbar{
  border-radius: 5px;
}

.navbar-brand {
  font-family: monospace;
  font-weight: bold;
}

.navbar-nav a {
  font-family: monospace;
}

#contenido{
  width: 1300px;
  height: auto;
  background-color:#2e2e2e;
  max-width: 0 auto;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
}

.texto {
  text-align: left;
  font-family: monospace;
  font-size: 30px;
  padding: 40px;
  margin: 20px;
  color: white;
  font-weight: bold;
}

.texto2 {
  text-align: left;
  font-family: monospace;
  font-size: 15px;
  color: white;
  margin: 20px;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .texto3 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
  }

  #productos{
    width: 1300px;
    height: auto;
    background-color:#2e2e2e;
    max-width: 0 auto;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.Lanzamientos {
  display: flex;
}

.Producto{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
}

  #img3{
    width: auto;
    height: 100px;
    border-radius: 1px;
    margin-bottom: 10px;
    margin-top: 20px;

  }

  h4 {
    margin: 0;
    font-weight: bold;
    font-family: monospace;
    font-size: 25px;
  }

  p {
    margin: 0;
    font-family: monospace;
  }

  .Producto-2{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-right: 35px;
  margin-left: 35px;
  }

  .Producto-3{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    margin-right: 35px;
  margin-left: 35px;
  }

  .Switch {
    display: flex;
  }
  
  .Producto-4{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 35px;
    margin-left: 35px;
  }
  
    .Producto-5{
      margin-bottom: 10px;
      display: flex;
      flex-direction: column; 
      align-items: center;
      text-align: center;
      margin-right: 35px;
  margin-left: 35px;
    }
  
    .Producto-6{
      margin-bottom: 10px;
      display: flex;
      flex-direction: column; 
      align-items: center;
      text-align: center;
      margin-right: 35px;
  margin-left: 35px;
    }

    #pieNavegacion {
      width: 1300px;
      height: auto;
      background-color:#2e2e2e;
      text-align: center;
      padding: 5px;
      color: white;
      font-family: monospace;
      margin: 0 auto;
      border-radius: 5px;
  }
  