body{
    background: linear-gradient(90deg, black, darkslateblue);
}

.navbar{
    border-radius: 5px;
}

.navbar-brand {
    font-family: monospace;
    font-weight: bold;
  }
 
  .navbar-nav a {
    font-family: monospace;
  }


  #contenido{
    width: 1300px;
    height: auto;
    background-color:#2e2e2e;
    max-width: 0 auto;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.texto {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    padding: 40px;
    margin: 20px;
    color: white;
    font-weight: bold;
}

.texto2 {
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: white;
    margin-top: -30px;
}

#slideshow-principal {
    position: relative;
    overflow: hidden;
}

#progress-bar-container {
    position: absolute;
    height: 10px;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    top: 0;
    z-index: 1000;
}

#progress-bar {
    height: 100%;
    background-color: rgb(210, 195, 239);
    border-radius: 0 3px 3px 0;
    transition: width 0.8s;
}

#slideshow {
    position: relative;
    z-index: 998;
    height: 600px;
}

img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#img2 {
    opacity: 0;
}

.active {
    opacity: 1 !important;
    transition: all 1s;
}

#indicadores {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    z-index: 999;
}

.circles {
    border: black 2px solid;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 5px 0 5px;
    background-color: transparent;
    border-radius: 50%;
}

.resaltado{
    background-color: rgb(210, 195, 239);
    transition: background-color .8s;
}

button{
    display: block;
    margin: 20px auto 0;
    padding: 15px 30px;
    background-color: darkslateblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
    font-family: monospace;
    font-weight: bold;
}

.texto3{
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: monospace;
}

#pieNavegacion {
    width: 1300px;
    height: auto;
    background-color:#2e2e2e;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: monospace;
    margin: 0 auto;
    border-radius: 5px;
}


